body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* font-size: 16px; */
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dd {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
#container {
  overflow: hidden;
  position: relative;
}
#main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#main .desc {
  position: relative;
  background: #ffffff;
}
#main .desc .desc-title,
#main .desc .desc-footer {
  font-size: 1.25rem;
  position: absolute;
}
#main .desc .desc-title {
  top: 0.625rem;
  left: 0.625rem;
}
#main .desc .desc-footer {
  bottom: 0.625rem;
  right: 0.625rem;
}
#main .desc .desc-content {
  margin: 0 10%;
  height: 100%;
  overflow: hidden;
}
#main #info {
  overflow: hidden;
  text-align: center;
}
#main #info #logo {
  width: 6.25rem;
  height: 6.25rem;
  border: 4px solid white;
  border-radius: 50%;
  background: url(../images/img.jpg) no-repeat;
  background-size: 6.25rem 6.25rem;
  margin: 0 auto;
  margin-top: 12.5rem;
}
#main #info #introduction h1 {
  font-size: 2.375rem;
  color: #00b38a;
  height: 5rem;
  line-height: 5rem;
}
#main #info #introduction h2 {
  font-size: 1.75rem;
  color: #00b38a;
  font-weight: normal;
  height: 3.75rem;
  line-height: 3.75rem;
}
#main #info #introduction h3 {
  color: #555;
  font-weight: normal;
  font-size: 1.125rem;
  height: 2.5rem;
  line-height: 2.5rem;
}
#main #info #introduction p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
#main #skills .desc-content ul {
  margin-top: 12.5rem;
}
#main #skills .desc-content ul li {
  padding-top: 1.25rem;
  width: 45%;
  float: left;
  margin-right: 5%;
}
#main #skills .desc-content ul li h5 {
  font-size: 1.5rem;
  height: 2.5rem;
  font-style: italic;
  font-weight: normal;
}
#main #skills .desc-content ul li .progress-bar {
  width: 100%;
  background: #555;
}
#main #skills .desc-content ul li .progress-bar .anm-bar {
  width: 0%;
  background: yellowgreen;
  height: 0.625rem;
  transition: 1.5s;
}
#main #skills .desc-content ul::after {
  content: "";
  display: block;
  clear: both;
}
#main #project .desc-content ul {
  margin-top: 9.375rem;
}
#main #project .desc-content ul li {
  width: 46%;
  height: 12.5rem;
  float: left;
  margin: 2%;
  position: relative;
  overflow: hidden;
}
#main #project .desc-content ul li a:hover .mark {
  left: 0;
  transition: 0.3s;
}
#main #project .desc-content ul li .project-detail {
  width: 100%;
  height: 12.5rem;
  text-align: center;
  line-height: 12.5rem;
  background: rgba(0, 0, 0, 0.6);
}
#main #project .desc-content ul li .project-detail img {
  width: 75%;
  vertical-align: middle;
}
#main #project .desc-content ul li .mark {
  width: 100%;
  height: 12.5rem;
  background: #00b38a;
  position: absolute;
  top: 0;
  left: -100%;
  color: #ffffff;
  font-size: 1.875rem;
  text-align: center;
  line-height: 12.5rem;
}
#main #project .desc-content ul::after {
  content: "";
  display: block;
  clear: both;
}
#main #work .desc-content {
  padding-top: 3.125rem;
}
#main #work .desc-content .content-list {
  border-left: 4px solid #000000;
  padding-left: 10%;
  padding-bottom: 2.5rem;
  margin: 0 0 0 20%;
  width: 70%;
  position: relative;
}
#main #work .desc-content .content-list dl {
  overflow: hidden;
}
#main #work .desc-content .content-list dl dt {
  font-size: 1.375rem;
  margin-bottom: 1.25rem;
}
#main #work .desc-content .content-list dl dd {
  padding: 0.625rem 0;
  margin-left: 1.25rem;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1rem;
}
#main #work .desc-content .content-list .work-icon {
  width: 1.875rem;
  height: 1.875rem;
  border: 2px solid #000000;
  border-radius: 50%;
  text-align: center;
  line-height: 2.125rem;
  position: absolute;
  top: 0;
  left: -1.1875rem;
  background: #000;
  font-size: 1rem;
}
#main #work .desc-content .content-list .work-icon .iconfont {
  color: #ffffff;
  font-size: 1rem;
}
#main #work .desc-content .content-list .work-icon .work-time {
  position: absolute;
  width: 9.375rem;
  left: -9.375rem;
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.6);
}
#main #work .desc-content .content-list:last-child {
  padding-bottom: 100%;
}
#main #contact .desc-content #contact-me {
  text-align: center;
  margin-top: 12.5rem;
}
#main #contact .desc-content #contact-me h2 {
  font-size: 1.875rem;
  font-weight: normal;
  margin: 1.875rem 0;
}
#main #contact .desc-content #contact-me .phone,
#main #contact .desc-content #contact-me .mail {
  font-size: 1.375rem;
  font-weight: normal;
  height: 2.5rem;
  line-height: 2.5rem;
  color: rgba(0, 0, 0, 0.6);
}
#main #contact .desc-content #contact-me .phone i,
#main #contact .desc-content #contact-me .mail i {
  font-size: 1.5rem;
  margin-right: 0.625rem;
}
#main #contact .desc-content #contact-me p {
  height: 6.25rem;
  line-height: 6.25rem;
}
#main #contact .desc-content #contact-me p i {
  font-size: 2.125rem;
  margin: 0 0.9375rem;
}
#main #contact .desc-content #contact-me p .icon-weixin {
  color: #00bc0d;
  position: relative;
}
#main #contact .desc-content #contact-me p .icon-weixin #wechat {
  width: 12.5rem;
  height: 12.5rem;
  background: url(../images/wechat.jpg) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  opacity: 0;
  top: 31.25rem;
  left: -3rem;
}
#main #contact .desc-content #contact-me p .icon-weixin:hover #wechat {
  opacity: 1;
  top: 6.25rem;
  transition: .5s;
}
#nav {
  position: fixed;
  top: 35%;
  left: 5px;
}
#nav ul {
  padding: 0;
}
#nav ul li {
  font-size: 0.875rem;
  width: 2.1875rem;
  height: 2.1875rem;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 0;
  margin-bottom: 0.3125rem;
  text-align: center;
  line-height: 2.1875rem;
  transition: .3s;
  cursor: pointer;
}
#nav ul .active {
  width: 3.75rem;
  height: 3.75rem;
  line-height: 3.75rem;
  background: #00b38a;
}
@media screen and (max-width: 480px) {
  #nav {
    display: none;
  }
  #main .desc {
    position: relative;
    background: #ffffff;
  }
  #main .desc .desc-title,
  #main .desc .desc-footer {
    font-size: 1.25rem;
    position: absolute;
  }
  #main .desc .desc-title {
    top: 0.625rem;
    left: 0.625rem;
  }
  #main .desc .desc-footer {
    bottom: 0.625rem;
    right: 0.625rem;
  }
  #main .desc .desc-content {
    margin: 0 15%;
    height: 100%;
    overflow: hidden;
  }
  #main #info {
    overflow: hidden;
    text-align: center;
  }
  #main #info #logo {
    width: 6.25rem;
    height: 6.25rem;
    border: 4px solid white;
    border-radius: 50%;
    background: url(../images/img.jpg) no-repeat;
    background-size: 6.25rem 6.25rem;
    margin: 0 auto;
    margin-top: 12.5rem;
  }
  #main #info #introduction h1 {
    font-size: 2.375rem;
    color: #00b38a;
    height: 5rem;
    line-height: 5rem;
  }
  #main #info #introduction h2 {
    font-size: 1.75rem;
    color: #00b38a;
    font-weight: normal;
    height: 3.75rem;
    line-height: 3.75rem;
  }
  #main #info #introduction h3 {
    color: #555;
    font-weight: normal;
    font-size: 1.125rem;
    height: 2.5rem;
    line-height: 2.5rem;
  }
  #main #info #introduction p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  #main #skills .progress-bar {
    width: 90%;
  }
  #main #skills .desc-content ul {
    margin-top: 6.25rem;
  }
  #main #skills .desc-content ul li {
    width: 100%;
    padding-top: 1.5625rem;
  }
  #main #skills .desc-content ul li h5 {
    font-size: 1.5rem;
    height: 2.5rem;
  }
  #main #skills .desc-content ul li .progress-bar .anm-bar {
    height: 0.625rem;
  }
  #main #project .desc-content ul {
    margin-top: 6.25rem;
  }
  #main #project .desc-content ul li {
    width: 96%;
    height: 7.5rem;
  }
  #main #project .desc-content ul li .project-detail {
    width: 100%;
    height: 7.5rem;
    line-height: 7.5rem;
  }
  #main #project .desc-content ul li .mark {
    width: 100%;
    height: 20%;
    background: rgba(0, 179, 138, 0.8);
    position: absolute;
    top: 80%;
    left: 0;
    color: #ffffff;
    font-size: 1rem;
    text-align: center;
    line-height: 1.5rem;
  }
  #main #work .desc-content {
    padding-top: 3.125rem;
    margin: 0 2%;
  }
  #main #work .desc-content .content-list {
    border-left: 2px solid #000000;
    padding-left: 5%;
    padding-bottom: 1.25rem;
    margin: 0 0 0 15%;
    width: 80%;
    position: relative;
  }
  #main #work .desc-content .content-list dl {
    overflow: hidden;
  }
  #main #work .desc-content .content-list dl dt {
    font-size: 1.125rem;
    margin-bottom: 1.5625rem;
  }
  #main #work .desc-content .content-list dl dd {
    padding: 0.3125rem 0;
    margin-left: 0.625rem;
    color: rgba(0, 0, 0, 0.6);
    font-size: 1rem;
  }
  #main #work .desc-content .content-list .work-icon {
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid #000000;
    border-radius: 50%;
    text-align: center;
    line-height: 1.5rem;
    position: absolute;
    top: 0;
    left: -0.9375rem;
    background: #000;
    font-size: 1rem;
  }
  #main #work .desc-content .content-list .work-icon .iconfont {
    color: #ffffff;
    font-size: 1rem;
  }
  #main #work .desc-content .content-list .work-icon .work-time {
    position: absolute;
    width: 3.125rem;
    left: -3.125rem;
    font-size: 0.875rem;
    color: rgba(0, 0, 0, 0.6);
    top: 0;
  }
  #main #work .desc-content .content-list:last-child {
    padding-bottom: 100%;
  }
  #main #contact .desc-content #contact-me {
    text-align: center;
    margin-top: 12.5rem;
  }
  #main #contact .desc-content #contact-me h2 {
    font-size: 1.875rem;
    font-weight: normal;
    margin: 1.875rem 0;
  }
  #main #contact .desc-content #contact-me .phone,
  #main #contact .desc-content #contact-me .mail {
    font-size: 1.375rem;
    font-weight: normal;
    height: 2.5rem;
    line-height: 2.5rem;
    color: rgba(0, 0, 0, 0.6);
  }
  #main #contact .desc-content #contact-me .phone i,
  #main #contact .desc-content #contact-me .mail i {
    font-size: 1.5rem;
    margin-right: 0.625rem;
  }
  #main #contact .desc-content #contact-me p {
    height: 6.25rem;
    line-height: 6.25rem;
  }
  #main #contact .desc-content #contact-me p i {
    font-size: 2.125rem;
    margin: 0 0.9375rem;
  }
  #main #contact .desc-content #contact-me p .icon-weixin {
    color: #00bc0d;
    position: relative;
  }
  #main #contact .desc-content #contact-me p .icon-weixin #wechat {
    width: 12.5rem;
    height: 12.5rem;
    background: url(../images/wechat.jpg) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    opacity: 1;
    top: 3.125rem;
    left: -3rem;
  }
}
@media screen and (max-height: 480px) {
  #main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  #main .desc {
    position: relative;
    background: #ffffff;
  }
  #main .desc .desc-title,
  #main .desc .desc-footer {
    font-size: 1.25rem;
    position: absolute;
  }
  #main .desc .desc-title {
    top: 0.625rem;
    left: 0.625rem;
  }
  #main .desc .desc-footer {
    bottom: 0.625rem;
    right: 0.625rem;
  }
  #main .desc .desc-content {
    margin: 0 10%;
    height: 100%;
    overflow: hidden;
  }
  #main #info {
    overflow: hidden;
    text-align: center;
  }
  #main #info #logo {
    width: 6.25rem;
    height: 6.25rem;
    border: 4px solid white;
    border-radius: 50%;
    background: url(../images/img.jpg) no-repeat;
    background-size: 6.25rem 6.25rem;
    margin: 0 auto;
    margin-top: 6.25rem;
  }
  #main #info #introduction h1 {
    font-size: 2.375rem;
    color: #00b38a;
    height: 5rem;
    line-height: 5rem;
  }
  #main #info #introduction h2 {
    font-size: 1.75rem;
    color: #00b38a;
    font-weight: normal;
    height: 3.75rem;
    line-height: 3.75rem;
  }
  #main #info #introduction h3 {
    color: #555;
    font-weight: normal;
    font-size: 1.125rem;
    height: 2.5rem;
    line-height: 2.5rem;
  }
  #main #info #introduction p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  #main #skills .desc-content ul {
    margin-top: 12.5rem;
  }
  #main #skills .desc-content ul li {
    padding-top: 1.25rem;
    width: 45%;
    float: left;
    margin-right: 5%;
  }
  #main #skills .desc-content ul li h5 {
    font-size: 1.5rem;
    height: 2.5rem;
    font-style: italic;
    font-weight: normal;
  }
  #main #skills .desc-content ul li .progress-bar {
    width: 100%;
    background: #555;
  }
  #main #skills .desc-content ul li .progress-bar .anm-bar {
    width: 0%;
    background: yellowgreen;
    height: 0.625rem;
    transition: 1.5s;
  }
  #main #skills .desc-content ul::after {
    content: "";
    display: block;
    clear: both;
  }
  #main #project .desc-content ul {
    margin-top: 4.6875rem;
  }
  #main #project .desc-content ul li {
    width: 46%;
    height: 12.5rem;
    float: left;
    margin: 2%;
    position: relative;
    overflow: hidden;
  }
  #main #project .desc-content ul li a:hover .mark {
    left: 0;
    transition: 0.3s;
  }
  #main #project .desc-content ul li .project-detail {
    width: 100%;
    height: 12.5rem;
    text-align: center;
    line-height: 12.5rem;
    background: rgba(0, 0, 0, 0.6);
  }
  #main #project .desc-content ul li .project-detail img {
    width: 75%;
    vertical-align: middle;
  }
  #main #project .desc-content ul li .mark {
    width: 100%;
    height: 12.5rem;
    background: #00b38a;
    position: absolute;
    top: 0;
    left: -100%;
    color: #ffffff;
    font-size: 1.875rem;
    text-align: center;
    line-height: 12.5rem;
  }
  #main #project .desc-content ul::after {
    content: "";
    display: block;
    clear: both;
  }
  #main #work .desc-content {
    padding-top: 1.5625rem;
  }
  #main #work .desc-content .content-list {
    border-left: 4px solid #000000;
    padding-left: 10%;
    padding-bottom: 0.9375rem;
    margin: 0 0 0 20%;
    width: 70%;
    position: relative;
  }
  #main #work .desc-content .content-list dl {
    overflow: hidden;
  }
  #main #work .desc-content .content-list dl dt {
    font-size: 1.375rem;
    margin-bottom: 1.25rem;
  }
  #main #work .desc-content .content-list dl dd {
    padding: 0.625rem 0;
    margin-left: 1.25rem;
    color: rgba(0, 0, 0, 0.6);
    font-size: 1rem;
  }
  #main #work .desc-content .content-list .work-icon {
    width: 1.875rem;
    height: 1.875rem;
    border: 2px solid #000000;
    border-radius: 50%;
    text-align: center;
    line-height: 2.125rem;
    position: absolute;
    top: 0;
    left: -1.1875rem;
    background: #000;
    font-size: 1rem;
  }
  #main #work .desc-content .content-list .work-icon .iconfont {
    color: #ffffff;
    font-size: 1rem;
  }
  #main #work .desc-content .content-list .work-icon .work-time {
    position: absolute;
    width: 9.375rem;
    left: -10.625rem;
    font-size: 0.875rem;
    color: rgba(0, 0, 0, 0.6);
  }
  #main #work .desc-content .content-list:last-child {
    padding-bottom: 100%;
  }
  #main #contact .desc-content #contact-me {
    text-align: center;
    margin-top: 6.25rem;
  }
  #main #contact .desc-content #contact-me h2 {
    font-size: 1.875rem;
    font-weight: normal;
    margin: 1.875rem 0;
  }
  #main #contact .desc-content #contact-me .phone,
  #main #contact .desc-content #contact-me .mail {
    font-size: 1.375rem;
    font-weight: normal;
    height: 2.5rem;
    line-height: 2.5rem;
    color: rgba(0, 0, 0, 0.6);
  }
  #main #contact .desc-content #contact-me .phone i,
  #main #contact .desc-content #contact-me .mail i {
    font-size: 1.5rem;
    margin-right: 0.625rem;
  }
  #main #contact .desc-content #contact-me p {
    height: 6.25rem;
    line-height: 6.25rem;
  }
  #main #contact .desc-content #contact-me p i {
    font-size: 2.125rem;
    margin: 0 0.9375rem;
  }
  #main #contact .desc-content #contact-me p .icon-weixin {
    color: #00bc0d;
    position: relative;
  }
  #main #contact .desc-content #contact-me p .icon-weixin #wechat {
    width: 12.5rem;
    height: 12.5rem;
    background: url(../images/wechat.jpg) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    opacity: 0;
    top: 31.25rem;
    left: -3rem;
  }
  #main #contact .desc-content #contact-me p .icon-weixin:hover #wechat {
    opacity: 1;
    top: 6.25rem;
    transition: .5s;
  }
  #nav {
    position: fixed;
    top: 35%;
    left: 5px;
  }
  #nav ul {
    padding: 0;
  }
  #nav ul li {
    font-size: 0.875rem;
    width: 2.1875rem;
    height: 2.1875rem;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 0;
    margin-bottom: 0.3125rem;
    text-align: center;
    line-height: 2.1875rem;
    transition: .3s;
    cursor: pointer;
  }
  #nav ul .active {
    width: 3.75rem;
    height: 3.75rem;
    line-height: 3.75rem;
    background: #00b38a;
  }
}
